.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  overflow: hidden;
  word-break: normal;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  word-break: normal;
  border-color: white;
  width: 7%;
}

.tg .tg-ocds {
  font-weight: bold;
  background-color: #a71e3b;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.tg .tg-s6z2 {
  text-align: center;
  width: 18.6%;
  border-left-color: white;
  border-right-color: white;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
}

.tg .tg-top-border {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 2px;
}

.tg .tg-bottom-border {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}



.tg .tg-gcbz {
  font-weight: bold;
  background-color: #a71e3b;
  color: #ffffff;
  border-color: white;
  border-width: 2px;
  text-align: center;
}

.tg .tg-n562 {
  font-weight: bold;
  background-color: #a71e3b;
  color: #ffffff;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}
